1) Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

Ans 1)

In [1]:
years_list = [1986,1987,1988,1989,1990,1991]

In [2]:
years_list

[1986, 1987, 1988, 1989, 1990, 1991]

2) In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

Ans 2)

In [3]:
years_list[3]

1989

3) In the years list, which year were you the oldest?

Ans 3)

In [4]:
years_list[-1]

1991

4) Make a list called things with these three strings as elements: "mozzarella", "cinderella",
"salmonella".

Ans 3)

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]

In [6]:
things

['mozzarella', 'cinderella', 'salmonella']

5) Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

Ans 5) Yes after capitalizing the list, the element in the list is changed

In [7]:
things[1]=things[1].upper()

In [8]:
things

['mozzarella', 'CINDERELLA', 'salmonella']

6) Make a surprise list with the elements "Groucho" "Chico" and "Harpo"

Ans 6)

In [30]:
surprise_list = ["Groucho", "Chico", "Harpo"]

In [31]:
surprise_list

['Groucho', 'Chico', 'Harpo']

7) Lowercase the last element of the surprise list, reverse it, and then capitalize it.

Ans 7)

In [32]:
surprise_list[2] = surprise_list[2].lower()

In [33]:
surprise_list[2]

'harpo'

In [40]:
surprise_list[2] =surprise_list[2][::-1]

In [41]:
surprise_list[2]

'oprah'

In [42]:
surprise_list[2].upper()

'OPRAH'

8) Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

Ans 8)

In [43]:
e2f = {'dog':'chien', 'cat':'chat', 'walrus': 'morse'}

In [44]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9) Write the French word for walrus in your three-word dictionary e2f.

Ans 9)

In [46]:
e2f['walrus']

'morse'

10) Make a French-to-English dictionary called f2e from e2f. Use the items method.

Ans 10)

In [47]:
e2f.items()

dict_items([('dog', 'chien'), ('cat', 'chat'), ('walrus', 'morse')])

In [48]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [50]:
f2e = dict((key,value) for value,key in e2f.items())

In [51]:
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11) Print the English version of the French word chien using f2e.

Ans) 11

In [54]:
f2e['chien']

'dog'

12) Make and print a set of English words from the keys in e2f.

Ans 12)

In [55]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

13) Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

Ans 13)

In [59]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }

In [60]:
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

14) Print the top-level keys of life.

Ans 14)

In [61]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

15) Print the keys for life['animals'].

Ans 15)

In [63]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

16) Print the values for life['animals']['cats']

Ans 16)

In [67]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']